<div class="jumbotron">
    <h1>PetDesk Appointments API</h1>
    <p class="lead">Veterinarian insight/reporting engine</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Distribution of Appointment Types</h2>
        <p>Appointment types range from baths to dental work to surgery. Keep track of
        the services that are in the highest demand.</p>
        <p><a class="btn btn-default" href="~/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointment Requests Received Per Month</h2>
        <p>Understand the distribution of your clientele. What months have been the busiest for the business?</p>
        <p><a class="btn btn-default" href="~/Help">Learn more &raquo;</a></p>
    </div>
</div>
